# Data Processing

## Goals

This program aims to:
- Get us a brief looking of the missing data
- Deal with the missing data
- Create an initial data visualization

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
# there seems to be some ASCII character encoded in the raw data file
# in order to make pandas able to read the file, I added 'encoding = "unicode_escape"'

df = pd.read_csv("data_raw.csv", encoding = "unicode_escape")

df.head(10)

,Quarter,Postal code,Building type,Price per square meter (EUR/m2)
0,2010Q1,00100 Helsinki Keskusta - Etu-Töölö (Helsinki ),"Blocks of flats, one-room flat",5458
1,2010Q1,00100 Helsinki Keskusta - Etu-Töölö (Helsinki ),"Blocks of flats, two-room flat",5164
2,2010Q1,00100 Helsinki Keskusta - Etu-Töölö (Helsinki ),"Blocks of flats, three-room flat+",4944
3,2010Q1,00120 Punavuori (Helsinki ),"Blocks of flats, one-room flat",5515
4,2010Q1,00120 Punavuori (Helsinki ),"Blocks of flats, two-room flat",5349
5,2010Q1,00120 Punavuori (Helsinki ),"Blocks of flats, three-room flat+",6236
6,2010Q1,00130 Kaartinkaupunki (Helsinki ),"Blocks of flats, one-room flat",..
7,2010Q1,00130 Kaartinkaupunki (Helsinki ),"Blocks of flats, two-room flat",..
8,2010Q1,00130 Kaartinkaupunki (Helsinki ),"Blocks of flats, three-room flat+",5145
9,2010Q1,00140 Kaivopuisto - Ullanlinna (Helsinki ),"Blocks of flats, one-room flat",5525

In [9]:
# change the column names

# we can observe in the Building type column that they are all flats, the difference is the number of rooms
# therefore, I will change the column name to "room"

# I also change to name of the price per square meter to "price", the unit is EUR/m2

df.columns = ["quater", "postal_code", "room", "price"]

df.head(5)

,quater,postal_code,room,price
0,2010Q1,00100 Helsinki Keskusta - Etu-Töölö (Helsinki ),"Blocks of flats, one-room flat",5458
1,2010Q1,00100 Helsinki Keskusta - Etu-Töölö (Helsinki ),"Blocks of flats, two-room flat",5164
2,2010Q1,00100 Helsinki Keskusta - Etu-Töölö (Helsinki ),"Blocks of flats, three-room flat+",4944
3,2010Q1,00120 Punavuori (Helsinki ),"Blocks of flats, one-room flat",5515
4,2010Q1,00120 Punavuori (Helsinki ),"Blocks of flats, two-room flat",5349

In [10]:
# get the information about the length of the dataframe
# from the out[] below, we can see that there are 4 columns, 23616 rows

df.shape

(23616, 4)

In [11]:
# next, we want to count how many data is missing in the column price per square meter

0